---
# purpose: be able to display HTML on GIT with out the need to CI/CD
# this need to be deploy were cors is not a problem (heroku) !
#
# does opaque response work ?  no !
url: https://framagit.org/holotools4/holodns/-/raw/master/mydomain.htm
---
<!DOCTYPE html>
<meta charset="utf8"/>
<div></div>
<script>
 let html=document.getElementsByTagName('html')[0]
 console.dir(window)
 console.dir(document)
 console.dir(html)
 let content = document.documentElement.outerText;
 // let fmatter = getFrontMatter(content)
 console.log('content:',content)
 let url = '{{url}}'
 fetch(url, { method: 'POST', mode: 'cors' } ).then( content => {
    console.log('content',content)
    console.log('body',content.body)
    html.innerHTML = content
  }
 ).catch(console.error)
</script>
